/* COMMON */
body {
	color: #333;
	background-color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	font-family: 'Montserrat', sans-serif;
}
img {
	display: block;
}
a {
	text-decoration: none;
	color: #333;
}

/* HEADER */
header {
}
header .inner {
	margin: 0 auto;
	position: relative;
}
header .logo {
	position: absolute;
	top: 15px;
	bottom: 0;
}
.logo-img {
	width: 150px;
}
#grid {
	display: grid;
	grid-template-columns: 300px 1fr;
	border-bottom: 1px solid #deba9d;
	padding-bottom: 50px;
}
.submenu {
	display: inline-block;
	padding: 2rem;
	margin-top: 40px;
}
.submenu a {
	margin: 20px;
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
	color: #9e7777;
}
@media (max-width: 500px) {
	#grid {
		display: block;
		border-bottom: none;
	}
	header .logo {
		position: absolute;
		top: 15px;
		bottom: 0;
		left: 180px;
	}
	.submenu {
		display: inline-block;
		margin-top: 150px;
		border-top: 1px solid #deba9d;
	}
	.submenu a {
		display: inline-block;
		margin: 5px;
		font-size: 30px;
		width: 100%;
		text-align: center;
	}
}

/* BODY */
.row {
	overflow: visible;
}
.col {
	float: left;
	width: 33.3%;
	text-align: center;
}
.col-1 {
	background-color: #9e7777;
}
.col-2 {
	background-color: #f5e8c7;
}
.col-3 {
	background-color: #deba9d;
}
@media (max-width: 500px) {
	.col {
		width: 100%;
	}
	.gen-img {
		display: none;
	}
}
.gen-img {
	width: 400px;
	height: 800px;
	margin: 30px;
}
.gen-link {
	display: inline-block;
	background-color: #fff;
	color: brown;
	padding: 20px;
	margin: 10px;
	font-size: 20px;
	font-weight: 700;
}
